---
layout: page
title: 电子书
permalink: /ebook.html
last_modified_at: 2022-01-06
---

<style>
    .book {
        width: 150px;
        height: 200px;
        margin: 10px 20px 15px 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
    }

    .book-info {
        text-align: center;
        height: 150px;
        font-size: 16px;
        font-weight: bold;
        line-height: 160px;
        color: #3fa757;
        word-break: break-word;
    }

    .book-date {
        text-align: center;
        font-size: 10px;
        color: #ADADAD;
    }
</style>

<div class="post-content">
    {% assign size = site.data.ebook.size %}
    {% for book in site.data.ebook %}
        {% assign mod = forloop.index0 | modulo: 4 %}
        {% assign mod1 = mod | plus: 1 %}
        {% if mod == 0 %}
        <div class="row">
        {% endif %}
        <a href="{{ book.url }}" target="_blank">
            <div class="book col-sm-3">
                <div class="book-info">
                    <span>{{ book.name }}</span>
                </div>
                <div class="book-date">
                    <span>{{ book.date }}</span>
                </div>
            </div>
        </a>
        {% if mod1 == 4 %}
        </div>
        {% endif %}
    {% endfor %}
</div>
