h1, h2 {
    color: #696969;
}

h3 {
    color: #2674BA;
}

h4 {
    color: #F77A0B;
}

h5 {
    color: #662D91;
}

th {
    background-color: #666666;
    /*background-color: #2674BA;*/
    color: white;
}