:root {

    --vp-c-brand: #2563eb !important;
    --vp-c-brand-light: var(--vp-c-brand);
    --vp-c-brand-lighter: var(--vp-c-brand);
    --vp-c-brand-dark: var(--vp-c-brand);
    --vp-c-brand-darker: var(--vp-c-brand);

    --vp-font-family-base: 'PingFang SC', 'Microsoft Yahei', sans-serif;

    /* pure theme color */
    --li-dot-color: var(--vp-c-brand);
    --date-color: var(--vp-c-text-2);
    --date-font-family: var(--vp-font-family-mono);
}

.dark {
    --vp-c-brand: #3b82f6;
}


/* theme reset start */

.Layout {
    min-height: calc(100vh - 78px) !important; /* reduce copyright */
}

.vp-doc p {
    font-size: 0.9375rem;
}

.title {
    color: var(--vp-c-text-1);
    font-weight: 550 !important;
}

.content a[rel~='noreferrer']:not(.without-underline-animation):link, a[rel~='noreferrer']:not(.without-underline-animation):visited, a[rel~='noreferrer']:not(.without-underline-animation):active {
    color: var(--vp-c-brand-2);
    text-decoration: none;
    position: relative;
    font-weight: 550 !important;
    display: inline-block;
}

.content a[rel~='noreferrer']:not(.without-underline-animation)::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--vp-c-brand-2);
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: bottom right;
}

.content a[rel~='noreferrer']:not(.without-underline-animation):hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* for aside start */
.aside {
    position: fixed !important;
    right: 24px;
}

.VPDoc {
    padding-top: 10px !important;
}

.container {
    max-width: 60rem !important;
}

.VPContent .container {
    max-width: 60rem !important;
    display: block !important;
    position: relative;
}

/* content maxWidth*/
.VPDoc.has-aside .content-container {
    max-width: 60rem !important;
}


@media (min-width: 768px) {
    .VPDoc {
        padding-top: 10px !important;
    }
}

@media (min-width: 960px) {
    .VPDoc {
        padding-top: 10px !important;
    }

    .VPDoc:not(.has-sidebar) .content {
        max-width: inherit !important;
    }

    .VPDocAsideOutline .content {
        padding-left: 14px !important;
    }

    .content {
        padding: 0 !important;
    }
}

/* when witdh less 1440 hide the aside 小于1440就到下一挡*/
@media (min-width: 1280px) {
    .VPDoc .aside {
        display: none !important;
    }
}

@media (min-width: 1440px) {
    .VPDoc .aside {
        display: block !important;
    }
}


/*mobile*/
@media screen and (max-width: 768px) {
    .VPDoc {
        padding-top: 10px !important;
        padding-bottom: 20px !important;
    }

    .vp-doc h1 {
        font-size: 1.25rem !important;
    }

    .posts {
        padding: 4px;
    }

    .post-dot {
        margin-right: 4px;
    }

    .post-container {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 16.5em;
    }
}

/* for aside end */
/* theme reset end */

/*tags and archives page style*/
.posts {
    padding: 4px 0 4px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-dot {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--li-dot-color);
}

.post-container {
    color: var(--vp-c-text-1);
    font-size: 0.9375rem;
    font-weight: 400;
}

.post-container:hover {
    color: var(--vp-c-brand);
}

.date {
    color: var(--date-color);
    font-family: var(--date-font-family);
    font-size: 0.8rem;
}

.logo {
    border-radius: 150px;
    -webkit-border-radius: 150px;
}

.prev-next {
    /*兼容giscus问题*/
    padding-bottom: 24px;
}

.VPNavBarMenu span {
    font-weight: 550;
}

.outline-link:hover,
.outline-link.active {
    color: var(--vp-c-brand-1) !important;
}

/*tabs插件代码样式覆盖*/
:root:not(.dark) .plugin-tabs--content div[class*='language-'] {
    background-color: var(--vp-code-block-bg) !important;
}

/*图片放大缩小层级*/
.main img:not(.data-unzoomable) {
    cursor: pointer;
}

.medium-zoom-overlay {
    z-index: 20;
}

.medium-zoom-image {
    z-index: 21;
}

/* 分页器相关 */
.pager button {
    all: unset;
}

.pager .Button {
    text-align: center;
    font-size: 15px;
    line-height: 1;
    align-items: center;
    justify-content: center;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 0.25rem;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    color: var(--vp-c-text-1);
}

.pager .Button:disabled {
    opacity: .5
}

.pager .Button:not([disabled]):hover {
    background-color: var(--vp-c-brand-soft);
}

.pager .Button[data-selected] {
    background-color: var(--vp-custom-block-tip-bg);
    color: var(--vp-c-text-1);
}

.PaginationEllipsis {
    display: flex;
    height: 2.25rem;
    width: 2.25rem;
    align-items: center;
    justify-content: center;
    color: var(--vp-c-text-1);;
}

.post-title {
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-size: 16px;
    margin: 0.1rem 0;
}

.post-title a {
    color: var(--vp-c-text-1);
    font-weight: 500;
    text-decoration: none;
}

.post-title li::marker {
    color: var(--vp-c-brand);
}

.PaginationList {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--vp-c-text-1);
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--vp-c-brand-2);
}

.hover-underline-animation:hover, .vp-doc a[download]:hover {
    color: var(--vp-c-brand-2);
}

.hover-underline-animation::after, .vp-doc a[download]::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--vp-c-brand-2);
    transition: transform 0.4s ease-in-out;
    transform-origin: bottom right;
}

.hover-underline-animation:hover::after, .vp-doc a[download]:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*附件下载链接样式 仅支持正文*/
.vp-doc a[download] {
    display: inline-block;
    position: relative;
    color: var(--vp-c-brand-2);
    text-decoration: none;
    font-weight: 550 !important;
}

.vp-doc a[download]::before {
    display: inline-block;
    margin-top: -1px;
    margin-right: 3px;
    margin-left: 3px;
    width: 11px;
    height: 11px;
    background: currentColor;
    flex-shrink: 0;
    --icon: url('/download.svg');
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
    content: '';
}
