---
layout: default
---
<header class="post-header">
  <h1 class="post-title">{{ page.title }}</h1>
</header>

<span class="time">{{ page.date | date_to_string }}</span>
{% if page.categories %}
  <span class="categories">
    &raquo; {% for category in page.categories %}<a href="/category/{{ category }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}
  </span>
{% endif %}

<div class="content">
  <div class="post">{{ content }}</div>
  {% include share-page.html %}
</div>

{% assign hasSimilar = '' %}
  {% for post in site.posts  %}
    {% assign postHasSimilar = false %}
      {% for tag in post.categories %}
        {% for thisTag in page.categories %}
          {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
            {% if hasSimilar.size == 0 %}
            <div class="panel-body">
              <h4>相关文章</h4>
              <ul>
            {% endif %}
                <li class="relatedPost">
                  <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                  {% if post.categories %}
                      &raquo; {% for category in post.categories %}<a href="/category/{{ category }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}
                  {% endif %}
                </li>
          {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
          {% assign postHasSimilar = true %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
  {% if hasSimilar.size > 0 %}
  </ul>
</div>
{% endif %}

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
  {% endif %}
</div>
<div>
    <div class="panel panel-white post " id="comments">
        <div class="post-footer">
            <div class="input-group">
                <input id="comment_txt" class="form-control" placeholder="评论" type="text">
                <span class="input-group-addon">
                        <a href="#"><i class="fa fa-edit" onclick="login()"></i></a>
                    </span>
            </div>
            <ul class="comments-list" id="commentsList">
            </ul>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">登录</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txt_departmentlevel">Username</label>
                        <input type="text" name="txt_departmentlevel" class="form-control" id="txt_username"
                               placeholder="Github用户名">
                    </div>
                    <div class="form-group">
                        <label for="txt_statu">Password</label>
                        <input type="password" name="txt_statu" class="form-control" id="txt_password"
                               placeholder="Github密码">
                    </div>
                    <div class="alert alert-warning" role="alert" id="tips"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn_subComment" class="btn btn-primary" data-dismiss="modal"
                            onclick='subComment()'>提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>